<!doctype html>
<html lang="pt-BR">
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeuEstoque - Categorias</title>

    <!-- Bibliotecas CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>Incluir Categoria</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-success">
            {% for category_message in messages %}
                {% if category_message[0] == "success" %}
                    {{ category_message[1] }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('incluir_categoria') }}">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <h2>Categorias Existentes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td> <a href="{{ url_for('editar_categoria', categoria_id=category.id) }}"><i class="fas fa-pencil-alt"></i></a></td>
                    <td> <a href="{{ url_for('excluir_categoria', categoria_id=category.id) }}" onclick="return confirm('Deseja excluir esta categoria?')"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bibliotecas JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
